.Message {
  display: flex;
  padding: 7px;
  margin: 2px;
  background-color: #eee;
}
.Small {
  height: 30px;
  width: 30px;
  border-radius: 100px;
}
.currentClass {
  border-left: 5px solid #0f3443;
}
