.Channel:hover {
  background-color: rgba(230, 118, 93, 0.2);
  cursor: pointer;
}
.Channel:active {
  background-color: rgba(230, 118, 93, 0.2);
  font-weight: 700;
}
.Channel {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  padding: 2px;
}
