.SidePanel {
  background: #34e89e;
  background: -webkit-linear-gradient(to bottom, #0f3443, #34e89e);
  background: linear-gradient(to bottom, #0f3443, #082c1d);
  color: #eee;
  /* flex: 0.5; */
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
}
.SidePanel:hover {
  overflow-y: auto;
}

/* @media (max-width: 801px) {
  .SidePanel {
    display: none;
  }
} */
