.Login {
  text-align: center;
}
h1 {
  color: #eee8e6;
}
.Form {
  background-color: #fff;
  text-align: center;
  height: 300px;
  border: 1px solid grey;
  width: 27%;
  padding: 10px;
  margin: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.LoginCard {
  background-color: #fff;
  width: 27%;
  border: 1px solid grey;
  margin: 20px auto;
  height: 50px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Input {
  display: flex;
  margin: 10px auto;
  width: 70%;
  height: 10px !important;
  padding: 7px;
  border: 1px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.Button {
  margin-top: 7px;
  width: 60%;
  height: 27px;
  background-color: #e66767;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
  font-weight: 700;
}
.Input:focus {
  outline: none;
  border: 2px solid #778beb;
}

.Input:hover {
  border: 1px solid #778beb;
}
.Button:hover {
  transition-duration: 0.2s;

  transform: scale(1.1, 1.1);
}
