html,
body {
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

/* html,
body {
  margin: 0;
  background: #34e89e;
  background: -webkit-linear-gradient(
    to right,
    #0f3443,
    #34e89e
  ); 
  background: linear-gradient(
    to right,
    #0f3443,
    #34e89e
  ); 
} */
