.MessageBox {
  margin: auto;
  padding: auto;
}
.Messages {
  overflow-y: auto;
  height: 70vh;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
}
