.MessageBox {
  margin: auto;
  padding: auto;
}
.Messages {
  overflow: scroll;
  height: 75vh;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
}
