.MessageBox {
  margin: auto;
  padding: auto;
  flex: 10;
}
.Messages {
  border-bottom: 2px outset rgba(10, 10, 0, 0.27);
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
  border-bottom: 1px solid rgba(10, 10, 0, 0.27);
}
.Messages:hover {
  overflow-y: auto;
}
